/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.todo {
  color: #fff;
  background-color: #f00;
  padding: 1.0em;
}

.reveal .img-src {
  font-size: 0.5em;
  display: block;
  text-align: right;
}

.reveal img.seethrough {
  background: none;
}

.reveal img.icon {
  width: 1.5em;
  vertical-align: middle;
  padding: 0.2em 0.8em;
}

.reveal .books img {
  height: 6em;
  margin: 0;
}

.reveal .books > span {
  display: inline-block;
  margin: 0 0.5em;
}

.reveal .books + div {
  margin-top: 0.5em;
  display: inline-block;
  img {
    margin: 0;
  }
}

.reveal mark {
  color: #62aadb;
  background: none;
}

.reveal .comment {
  color: #aaa;
}

.reveal ul.plain {
  list-style-type: none;
}

.reveal .credits {
  text-align: right;
  margin-right: 3em;
  p {
    display: block;
    font-size: 0.6em;
    margin: 0;
  }
  img {
    width: 15%;
  }
}

.reveal .quote {
  font-style: italic;
  text-align: right;
}

.reveal .typing {
  display: flex;
  justify-content: space-around;

  div {
    width: 40%;
    height: 4em;
    line-height: 4em;
    text-align: center;
    vertical-align: center;
    background-color: #555;
    border: solid 0.1em #ddd;
    border-radius: 0.5em;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
